<!DOCTYPE html>
<html>
<head>
	<title>Atomic Blackbird</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>	  
		<!--navigation-->
		<nav class="navbar navbar-expand-lg navbar-light">
			<%= link_to('atomic blackbird', welcome_index_path, class: "navbar-brand") %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<%= link_to('Home', welcome_index_path, class: "nav-link") %>
					</li>
					<li class="nav-item">
						<%= link_to('Blog', posts_path, class: "nav-link") %>
					</li>
					<li class="nav-item">
						<%= link_to('About', welcome_about_path, class: "nav-link") %>
					</li>
					<li class="nav-item">
						<%= link_to('For Sale', listings_path, class: "nav-link") %>
					</li>
					<% if user_signed_in? %>
						<li class="nav-link"><%= link_to('Logout', destroy_user_session_path, method: :delete) %>     </li>   
					<% end %>
				</ul>
				<%= form_tag(posts_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0 navbar-form" ) do %>
				    <%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "form-control mr-sm-2" %>
				    <%= submit_tag "Search", :name => nil, class: "btn btn-outline-dark btn-small my-2 my-sm-0 headerfont"  %>
				<% end %>
			</div>
		</nav>
		<!-- end navigation-->
			<div class="container-fluid">
				<%= render 'layouts/flash' if !flash.empty? %>
					</div> <!--end of container_fluid 1-->
					<div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
							<%= yield %>
					</div> <!--end of container_fluid 2 -->
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 footerclass">
								<footer>
									<p class="headerfont byline">Atomic Blackbird content copyright 2018 Tori Brenneison</p>
								</footer>
							</div>
						</div>
					</div>
	 
				</body>
				</html>
